

.navbar{
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    width: 350px;
    height: 100px;
    padding-right: 60px;
    padding-top: 20px
}

.navbar-menu {
    display: flex;
    padding-top: 50px;
    gap: 3rem;
    list-style-type: none;
    color: #1B2432;
    font-size: 25px;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding-top: 35px;
    gap: 40px;
}

.navbar button {
    background-color: transparent;
    font-size: 25px;
    color: #20293d;
    border: 1px solid tomato;
    border-radius: 50px;
    padding: 10px 30px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
    
}

.navbar button:hover{
    background-color: tomato;

}

.navbar .active{
    border-bottom: 3px solid tomato; 
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon {
     position: relative;

}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -2px;
    right: -8px;
}